# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



const input=[1,2,3,4]

function generateRandom(arr){
  const list=[...arr0];
  
  return()=>{
  const rn=Math.floor(Math.random()*list.length);
    const removed=list.splice(rn,1)[0]
    return removed
  }
}
const getRandom=generateRandom(input);
console.log(getRandom())